@import "tailwindcss";

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  width: 100%;
}

body {
  overflow-x: hidden;
  width: 100%;
}

@theme {
  --font-anton: "Anton", sans-serif;
  --font-inter: "Inter", sans-serif;
  
  --color-accent-orange: #f24b28; /* The vibrant reddish-orange */
  --color-accent-yellow: #ffc107; /* The bright yellow */
  --color-accent-teal: #02a677; /* The teal/green */
  --color-accent-pink: #df4486; /* The pink */
  --color-accent-purple: #7b1fa2; /* The purple */
  --color-bg-dark: #1c1c1c;
  --color-bg-darker: #121212;
  --color-bg-light: #f5f5f5;
}

/* Base styles for the marquee */
.marquee-container {
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: 2rem;
}

.marquee-content {
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: 2rem;
}

/* Custom Selection */
::selection {
  background-color: var(--color-accent-orange);
  color: white;
}
